.large_square{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background: rgba(254, 60, 14, 0);
}
.middle_square{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: rgba(254, 60, 14, 0);
}
.small_square{
    width: 20px;
    height: 20px;
    background: rgba(254, 60, 14, 0);
}

.large_square._active{
    background: rgba(254, 60, 14, 0.2);
}
.middle_square._active{
    background: rgba(254, 60, 14, 0.5);
}
.small_square._active{
    background: rgba(254, 60, 14, 1);
}